<h1>Referee#score</h1>

<h2> Your answer is <%= @answer %> </h2>
<h2> Your word means <%= @result[:translation] %> </h2>
<h2> Your time is <%= @result[:time] %> </h2>
<h2> Your score is <%= @result[:score] %> </h2>
<h2> <%= @result[:message] %> </h2>
